html, body { width: 100%; }
body { height: 100%; overflow-x: hidden; overflow-y:scroll; }

.jasmine_reporter .summary {
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}

.suite {
    -webkit-column-break-after: always;
}

.specSummary2{
    -webkit-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.jasmine_reporter {
    display: none;
}

.navbar {
    border-bottom: solid 2px #2f2f1c;
}



