html, body { width: 100%; height: 100%; overflow-x: hidden; }

.jasmine_reporter .summary {
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
}

.suite {
    -webkit-column-break-after: always;
}

.specSummary2{
    -webkit-column-break-inside: avoid;
    -webkit-column-break-inside: avoid;
}

.jasmine_reporter {
    display: none;
}

.navbar {
    border-bottom: solid 2px #2f2f1c;
}

/* Sinon Controller */

.ui-sinon {
    border: 1px solid #aaa;
    border-radius: 2px;
    padding: 20px;
}

.ui-sinon legend, .ui-sinon caption {
    font-size: 14pt;
    text-align: left;
    margin-bottom: 20px;
    border-bottom: 1px dotted #2f2f1c;
    line-height: 30px;
    color: #333;
    width: 300px;
}

.ui-sinon tbody {
    border-top: 1px solid #2f2f1c;
    border-bottom: 1px solid #2f2f1c;
}

.ui-sinon td:nth-child(1).no-requests {
    width: 500px;

}

.ui-sinon td:nth-child(1), .ui-sinon th:nth-child(1)  {
    width: 100px;
    text-align: center;
}

.ui-sinon td:nth-child(2), .ui-sinon th:nth-child(2)  {
    width: 200px;
}

.ui-sinon td:nth-child(3), .ui-sinon th:nth-child(3)  {
    width: 200px;
}

.ui-sinon tbody tr:nth-child(even) {
    background-color: #ddd;
}

.ui-sinon table {
    margin-bottom: 20px;
}

.ui-sinon textarea {
    display: block;
    width: 90%;
    height: 100px;
}

.ui-sinon button {
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0 8px;
}

.ui-sinon textarea.error {
    border: 1px dotted red;
}