<div class="ui-sinon">
    <div class="requests">
        <table>
            <caption>Requests</caption>
            <thead>
                <tr>
                    <th>Method</th>
                    <th>Url</th>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <form class="response">
        <legend>Response</legend>
        <textarea name="responseBody" placeholder="enter json response"></textarea>
        <select name="statusCode">
            <option value="200" selected="selected">200 OK</option>
            <option value="400">400 Bad Request</option>
            <option value="403">403 Forbidden</option>
            <option value="404">404 Not Found</option>
            <option value="500">500 Server Error</option>
        </select>
        <button type="submit">Send Response</button>
    </form>
</div>